@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuthManagement</title>
    <base href="~/" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/global.css">
</head>
<body>
    <div id="react-app"></div>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/client.js" asp-append-version="true"></script>
</body>
</html>
